html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

table {
    border-collapse: separate;
    border-spacing: 0 8px;
    margin-top: -8px;
}

td {
    border-bottom: 1px solid ;
    padding-bottom: 8px;
    border-left-width: 0;
    min-width: 120px;
    height: 18px;
}

.copiar {
    cursor: pointer;
    color: #000000;
    padding-left: 1rem;
}

.inputAlias {
    border: none;
}

.inputAlias:focus, input:focus {
    outline: none;
}

.d-none-fade-out {
    overflow: hidden;
    opacity: 0;
    transition: opacity 1000ms 0ms;
}

.d-inline-fade-in {
    opacity: 1;
    transition: opacity 0ms 1000ms;
}

.hidden-alert{
    visibility: hidden;
}

.detalhes {
    cursor: pointer;
}

.text-detalhe {
    font-style: italic;
    color: #808080;
}

.btn-save-alias {
    background: #5dbea3
}

.flag {
    cursor: pointer;
}